# Databases
mongo-data/
*.zip

# Frontend
frontend/node_modules/
frontend/dist/

# All Java/Gradle Build folders (no matter how deep)
**/build/
**/.gradle/
**/bin/
**/out/
*.class
*.log
!gradle/wrapper/gradle-wrapper.jar

# All Eclipse/IDE files
**/.metadata/
**/.settings/
**/.classpath
**/.project
**/.idea/
**/.vscode/
